<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />

    <title>Tambah data pasien</title>

    <link
      href="{{ url_for('static', filename= 'css/simplebar.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename= 'css/style.css') }}"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css"
    />
  </head>

  <body>
    <div class="sidebar sidebar-dark sidebar-fixed hide" id="sidebar">
      <div class="sidebar-brand d-none d-md-flex">
        <svg
          class="sidebar-brand-full"
          width="118"
          height="46"
          alt="CoreUI Logo"
        >
          <use xlink:href="#"></use>
        </svg>
        <svg
          class="sidebar-brand-narrow"
          width="46"
          height="46"
          alt="CoreUI Logo"
        >
          <use xlink:href="#"></use>
        </svg>
      </div>
      <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
        <li class="nav-item">
          <a class="nav-link" href="/">
            <svg class="nav-icon">
              <use
                xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"
              ></use>
            </svg>
            Dashboard<span class="badge badge-sm bg-info ms-auto">NEW</span></a
          >
        </li>
      </ul>
      <button
        class="sidebar-toggler"
        type="button"
        data-coreui-toggle="unfoldable"
      ></button>
    </div>

    <div class="wrapper d-flex flex-column min-vh-100 bg-light">
      <header class="header header-sticky mb-4">
        <div class="container-fluid">
          <button
            class="header-toggler px-md-0 me-md-3"
            type="button"
            onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()"
          >
            <svg class="icon icon-lg">
              <use
                xlink:href="vendors/@coreui/icons/svg/free.svg#cil-menu"
              ></use>
            </svg></button
          ><a class="header-brand d-md-none" href="#">
            <svg width="118" height="46" alt="CoreUI Logo">
              <use xlink:href="#"></use></svg
          ></a>
          <ul class="header-nav d-none d-md-flex">
            <li class="nav-item"><a class="nav-link" href="/">Dashboard</a></li>
          </ul>
          <ul class="header-nav ms-auto"></ul>
          <ul class="header-nav ms-3">
            <li class="nav-item dropdown">
              <a
                class="nav-link py-0"
                data-coreui-toggle="dropdown"
                href="#"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <div class="avatar avatar-md">
                  <img
                    class="avatar-img"
                    src="https://w7.pngwing.com/pngs/177/551/png-transparent-user-interface-design-computer-icons-default-stephen-salazar-graphy-user-interface-design-computer-wallpaper-sphere-thumbnail.png"
                    alt="user@email.com"
                  />
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-end pt-0">
                <a class="dropdown-item" href="#">
                  <svg class="icon me-2">
                    <use
                      xlink:href="vendors/@coreui/icons/svg/free.svg#cil-account-logout"
                    ></use>
                  </svg>
                  Keluar</a
                >
              </div>
            </li>
          </ul>
        </div>
        {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        <div class="header-divider"></div>
        <div class="container-fluid">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-0 ms-2">
              <li class="breadcrumb-item">
                <!-- if breadcrumb is single--><span><a href="/">Home</a></span>
              </li>
              <li class="breadcrumb-item active"><span>Tambah Data</span></li>
            </ol>
          </nav>
        </div>
      </header>
      <div class="body flex-grow-1 px-3">
        <div class="container-lg">
          <!-- /.row-->
          <div class="row">
            <div class="col-12">
              <div class="card mb-4">
                <div class="card-header">INFORMASI</div>
                <div class="card-body">
                  Selamat datang di halaman tambah data pasien. Kami ingin
                  memastikan informasi yang Anda berikan tercatat dengan
                  sempurna. Silakan lengkapi kolom-kolom berikut dengan cermat
                  untuk memastikan rekam medis pasien terperinci: Nama Pasien,
                  Jenis Kelamin, Hemoglobin, MCH, MCHC, dan MCV. Terima kasih
                  atas kerjasama Anda dalam memberikan perawatan yang optimal.
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="card mb-4">
                <div class="card-header">
                  <div class="d-flex justify-content-between">
                    <div>
                      <h4 class="card-title mb-0">Tambah Data Pasien</h4>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <form class="row g-3" method="post">
                    <div class="col-md-6">
                      <label for="nama_pasien" class="form-label"
                        >Nama Pasien</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="nama_pasien"
                        value="{{ request.form['nama_pasien'] }}"
                        placeholder="masukan nama pasien"
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="jenis_kelamin" class="form-label"
                        >jenis kelamin</label
                      >
                      <select
                        id="jenis_kelamin"
                        class="form-select"
                        name="jenis_kelamin"
                      >
                        <option value="">pilih...</option>
                        <option value="L">Laki-laki</option>
                        <option value="P">Perempuan</option>
                      </select>
                    </div>
                    <div class="col-3">
                      <label for="hb" class="form-label">Hemoglobin</label>
                      <input
                        type="text"
                        class="form-control"
                        id="hb"
                        value="{{ request.form['hb'] }}"
                        name="hb"
                        placeholder="masukan nilai hemoglobin"
                      />
                      <span id="range-hemoglobin" class="form-text">
                        Laki-laki : 13-17 g/dL Perempuan : 12-15 g/dL
                      </span>
                    </div>

                    <div class="col-3">
                      <label for="mch" class="form-label">MCH</label>
                      <input
                        type="text"
                        class="form-control"
                        id="mch"
                        value="{{ request.form['mch'] }}"
                        name="mch"
                        placeholder="masukan nilai mch"
                      />
                      <span id="range-hemoglobin" class="form-text">
                        range mch:27-31 pg
                      </span>
                    </div>
                    <div class="col-3">
                      <label for="mchc" class="form-label">MCHC</label>
                      <input
                        type="text"
                        class="form-control"
                        id="mchc"
                        name="mchc"
                        value="{{ request.form['mchc'] }}"
                        placeholder="masukan nilai mchc"
                      />

                      <span id="range-hemoglobin" class="form-text">
                        range mchc: 30-55 gr/dL
                      </span>
                    </div>
                    <div class="col-3">
                      <label for="mcv" class="form-label">MCV</label>
                      <input
                        type="text"
                        class="form-control"
                        id="mcv"
                        value="{{ request.form['mcv'] }}"
                        name="mcv"
                        placeholder="masukan nilai mcv"
                      />
                      <span id="range-hemoglobin" class="form-text">
                        range mvc: 82-92 fl
                      </span>
                    </div>

                    <div class="col-12">
                      <div class="form-check">
                        <input
                          name="gridCheck"
                          class="form-check-input"
                          type="checkbox"
                          id="gridCheck"
                        />
                        <label class="form-check-label" for="gridCheck">
                          Data sudah benar
                        </label>
                      </div>
                    </div>
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary">
                        Simpan data
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <!-- /.col-->
          </div>
          <!-- /.row-->
        </div>
      </div>
    </div>
    <!-- CoreUI and necessary plugins-->
    <script src="{{ url_for('static', filename= 'js/coreui.bundle.min.js') }}"></script>

    <script
      src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
      integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
